files:
    /home/ec2-user/.ssh/authorized_keys:
        mode: "000400"
        owner: ec2-user
        group: ec2-user
        content: |
            ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDp2yEzs6oWn7ToKsZk0BwN0pZPS5xvcOc40Y13oXldu+FPlDlSh8TQOi166xG2Cy/6BCG+9fVrdPRInk4HYrQ+NDNflHZv5dp7FiQ7JWG//3X4Rn9x0xKRhigTw4tbkn1ksQdFEHyTybBRGCHcJACJZRqPk1FuQD/e/2zOV6Ad1sJH8YbHnalrGPIu8mtuh3gGCGyPuFgpwG/b0HK1Yi37c6E41hYEJFg6DiXxjsEzqJ9nI+Vq1BLb9LzhfKA86ClYFKU+WHv8DLdr8nJd1nP2iJYyXHicsuL1JmcMgUQ3Cuu1QMIMjsoUKHGyO1LU3l6Orax7e4dzDKhqLT0LUpvL antoinevideau@MacBook-Pro-de-Antoine.local
            ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7vHeXI123bod2b0v0YMZnNgHwDqb8Y6Q9S0gGVn1gtUm4lei4+yccl76zZ52Onx2Mp0Z69qRDk2aYN/1NNrWc6xoFjaJJ8JxF0hv+eknhV1MO1HSr15nVLR78zTSGUpD1isSMBJAltfsT8GAC7jdE2WPvd6VfXTOhf6N0ztLEF+HMBYQYa1OvHHveiwAbD+zKmqFrxkrYXvL3mO8xuosVaslOi7AuUOdgBpun9k1j0U60+KWguZ3Bm8n9bZYECSDGY79D3qYc9/f4j5VIKb9VV3sXdr1sx699E6njxxK//VwDNdLjueUFmds5Hhfp6RiOuBw7cKwEWCl+HIm7MWBB ronan
